

body{
    background-color: rgb(25, 25, 25);
    color: white;
}

header{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.header-header{
    display: flex;
    justify-content: space-between;
}
.header-title{
    margin: 0;
    font-size: 37px;
    display: flex;
    align-items: flex-end;
}
.header-title-site{
    font-size: 22px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 7px;
}
.header-author{
    margin: 0;
    color: rgb(210, 210, 210);
    font-size: 13px;
}
.header-author-link{
    text-decoration: none;
}
.header-author-link:hover{
    text-decoration: underline;
}



.menu-bar{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
}
.menu-bar > div{
    width: 80px;
}
.menu-bar > div > a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.menu-bar > div > a:hover{
    color: rgb(239, 247, 255);
}






#content{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

a{
    color: rgb(95, 173, 255);
}

img{
    width: 300px;
}

h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}