

body{
    background-color: rgb(25, 25, 25);
    color: white;
}

header{
    width: 80%;
    margin: auto;
}
.header-title{
    margin-bottom: 0;
}
.header-author{
    margin-top: 0;
    color: rgb(210, 210, 210);
    font-size: 15px;
}


#content{
    width: 80%;
    margin: auto;
}

